auto lo
iface lo inet loopback

allow-hotplug eth0
iface eth0 inet manual

#WLAN0 - CLIENT
auto {{client_interface}}
iface {{client_interface}} inet dhcp 
  wpa-ssid {{client_ssid}}
  wpa-psk  {{client_password}}

#WLAN1 - HOST
auto {{host_interface}}
iface {{host_interface}} inet static
  hostapd /etc/hostapd/hostapd.conf
  address {{ cluster_ip_address }}
  netmask 255.255.255.0

pre-up iptables-restore < /etc/iptables/rules.v4
